PORT=3000
DB_USERNAME=your_mongodb_database_username
DB_PASSWORD=your_mongodb_database_password
GOOGLE_OAUTH_CLIENT_ID=your_google_client_id
GOOGLE_OAUTH_CLIENT_SECRET=your_google_client_secret
GITHUB_OAUTH_CLIENT_ID=
GITHUB_OAUTH_CLIENT_SECRET=
CLIENT_REDIRECT_URL=
REDIRECT_URI=
SESSION_SECRET=